html {
    background: black;
    background-image: none;
    min-height: 100%; /* make the background gradient span 
                         entire viewport in Firefox */
}

body {
	-webkit-user-select: none;
	overflow: hidden;
    margin: 0px;
    font-family: Helvetica;
    color: white;
}

.fadeAway {
    opacity: 0;
    -webkit-transition-duration: 2s;
}

a:link {
    color: orange;
}

a:visited {
    color: #aa6500;
}

table {
    border-color: white;
}

/*
.move {
    -webkit-transition-duration: 0.25s;
}

    -webkit-transition-property: -webkit-transform;

div.move {
  -webkit-animation-name: move;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes move
{
      from {
        -webkit-transform: translate(0, 0);
      }
 
      50% {
        -webkit-transform: translateY(100px);
        -webkit-animation-timing-function: ease-out;
      }
 
      to {
        -webkit-transform: translate(64px, 64px);
      }
}
*/

