html {
    background: rgb(255, 255, 255);
    background-image: 
    /*background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 800, from(white), to(rgba(127, 127, 127, 0)));
    background-image: -moz-radial-gradient(bottom, circle, white 0px, rgba(255, 255, 255, 0) 800px); /* Radial gradient for Mozilla browsers */

    min-height: 100%; /* make the background gradient span the entire viewport in Firefox */
}


body {
	-webkit-user-select: none;
	overflow: hidden;
    margin: 0px;
    font-family: Helvetica;
}


.fadeAway {
    opacity: 0;
    -webkit-transition-duration: 2s;
}


/*
.move {
    -webkit-transition-duration: 0.25s;
}

    -webkit-transition-property: -webkit-transform;

div.move {
  -webkit-animation-name: move;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes move
{
      from {
        -webkit-transform: translate(0, 0);
      }
 
      50% {
        -webkit-transform: translateY(100px);
        -webkit-animation-timing-function: ease-out;
      }
 
      to {
        -webkit-transform: translate(64px, 64px);
      }
}
*/

div.Character {
    background-image:
    	-webkit-gradient(radial,
			center center, 56, center center, 64,
			from(transparent),
			color-stop(0.8, rgba(255, 255, 255, 0.65)),
			to(rgba(255, 255, 255, 0.4))),

        -webkit-gradient(radial,
       		64 192, 32, 128 128, 192,
        	color-stop(0.5, transparent),
        	color-stop(0.5, rgba(255, 255, 255, 0.2)),
        	to(rgba(255, 255, 255, 0.65)));

    -webkit-box-reflect: below 0 -webkit-gradient(linear,
    	left top, left bottom,
    	from(transparent),
    	color-stop(0.5, transparent),
    	to(rgba(255, 255, 255, 0.25)));

    z-index: 1;

    position: absolute;
    width: 128px;
    height: 128px;          

    border-radius: 64px;
}

div.Room {
    width: 512px;
    height: 512px;
    
    border-style: dashed;
}

/*
#logo_shadow {
    background-image: -webkit-gradient(radial, center center, 0, center center, 150, from(black), to(transparent));
    
    -webkit-transform-origin: center bottom;
    -webkit-transform: translateY(5px) scale(1, 0.1);
    
    z-index: 0;
}
*/

#character_text {
    position: absolute;
    top: -8px;
    left: 0px;
    right: 0;
    bottom: 0;

    font-size: 54pt;
    line-height: 0.8em;
    text-align: center;
    text-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: -3px;
    -webkit-text-stroke: 0.5px gray;
    color: white;

    /* -webkit-transform: rotate(25deg); */
}